* {
    line-height: 1.5;
    margin: 0;
}

:root {
    --blue: #00d9ff;
    --pink: #ff21d7;
    --gradient: linear-gradient(142deg, rgba(255,33,215,1) 0%, rgb(0, 132, 255) 100%);
  }

/* background image */
html {
    background-image: url("./../images/dateNightBackground.png");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
}

body {
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.gradient-text{
    background-color: var(--pink);
    background-image: var(--gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* header area */
.hero {
    background-image: url("./../images/title-background.png");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: 60% 90%;
}

.hero-body {
    padding: 2rem 1.5rem;
}


.app-name {
    font-family: 'Londrina Solid', cursive;
    margin-bottom: -5px;
    color: black;
    font-size: 4.5rem;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    line-height: 1.5rem;
}

/* app description area */
.slogan-style {
    background-image: url("./../images/blurb-background.png");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: 60% 90%;
    margin: 0 auto;
}

.slogan {
    color: black;
    font-weight: 600;
    font-size: 1rem;
    padding: 2% 2%;
    width: 60%;
    margin: 0 auto;
}

/* buttons */
#button-group {
 margin: 10px 0 8px 0;
}

#button-group h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

#button-group span {
    font-size: 2rem;
    font-weight: 700;
    margin: -8px 0;
}

.btn {
    display: flex;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
    justify-content: center;
    padding-top: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: calc(.5em - 1px);
    border: none;
}

.btn-style {
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: transparent;
    background-size: cover;
    display: inline-block;
    border: none;
    font-family: 'Londrina Solid', cursive;
}

#btn-casual,
#button-0,
#button-2 {
    background-image: url("./../images/button-background-1.png");
}

#btn-romantic,
#button-1,
#refresh-btn {
    background-image: url("./../images/button-background-2.png");
}

/* refresh */
#refresh {
    background-image: url("./../images/blurb-background.png");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: 60% 90%;
}

#refresh-span {
    font-weight: 800;
}

/* modal */
#ex0,
#ex1,
#ex2 {
    background-image: url("./../images/modal.png");
    background-position: center center; 
    background-repeat: no-repeat; 
}

.modal {
    overflow: visible;
    background-color: transparent;
}


/* footer area */
footer {
    background-color: var(--pink);
    color: white;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hide {
    display: none;
}

/* reposonsive queries */

@media screen and (max-width: 1201px) {
    .app-name {
        font-size: 3.5rem;
    }

    .subtitle {
        font-size: 1.75rem;
    }

    .slogan {
        width: 60%;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 769px) {
    .hero {
        background-size: 80% 90%;
    }

  .slogan-style {
      background-size: 80% 100%;
  }

  .slogan {
    padding: 4% 0%;
  }

  .btn {
      width: 80%;
  }
    
}

@media screen and (max-width: 481px) {

    body {
        margin-bottom:50px;
    }
    
    .app-name {
        line-height: 1;
        padding: 5% 2%;
    }

    .slogan-style {
        background-size: 300px 400px;
    }

    #button-group {
        margin: 20px 0 8px 0;
    }

    .column {
        padding: .2rem;
    }
    
}
